In [1]:
import numpy as np
import pandas as pd
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

In [2]:
df= pd.read_csv(r'app.csv')

In [3]:
df.head()

   INVOICE NO Product Description
0           1    Laptop,Mouse,Bag
1           2     Laptop,Keyboard
2           3          Jeans,Belt
3           4         Jeans,Shirt
4           5          Mobile,Sim

In [4]:
df['Product Description']=df['Product Description'].str.split(',')

In [5]:
df

    INVOICE NO        Product Description
0            1       [Laptop, Mouse, Bag]
1            2         [Laptop, Keyboard]
2            3              [Jeans, Belt]
3            4             [Jeans, Shirt]
4            5              [Mobile, Sim]
5            6   [Moblie, charger, cover]
6            7            [Mobile, cover]
7            8       [Bread, butter, jam]
8            9            [Bread, butter]
9           10                   [Laptop]
10          11              [Soap,  Surf]
11          12            [Soap, Shampoo]
12          13         [Soap,  chocolate]
13          14  [Chocolate, Biscuit, jam]

In [6]:
inv=[]
pr=[]
count=0
for j in df['Product Description']:
    count=count+1
    for k in range(len(j)):
            inv.append(count)
            pr.append(j[k])
            data={'InvoiceNo':inv,'product':pr,'Quantity':1}
      
data=pd.DataFrame(data)

In [7]:
data

    InvoiceNo     product  Quantity
0           1      Laptop         1
1           1       Mouse         1
2           1         Bag         1
3           2      Laptop         1
4           2    Keyboard         1
5           3       Jeans         1
6           3        Belt         1
7           4       Jeans         1
8           4       Shirt         1
9           5      Mobile         1
10          5         Sim         1
11          6      Moblie         1
12          6     charger         1
13          6       cover         1
14          7      Mobile         1
15          7       cover         1
16          8       Bread         1
17          8      butter         1
18          8         jam         1
19          9       Bread         1
20          9      butter         1
21         10      Laptop         1
22         11        Soap         1
23         11        Surf         1
24         12        Soap         1
25         12     Shampoo         1
26         13        Soap         1
27         13   chocolate         1
28         14   Chocolate         1
29         14     Biscuit         1
30         14         jam         1

In [8]:
basket = (data.groupby(['InvoiceNo', 'product'])['Quantity']
.sum().unstack().reset_index().fillna(0) 
.set_index('InvoiceNo'))

In [9]:
basket

product,Surf,chocolate,Bag,Belt,Biscuit,Bread,Chocolate,Jeans,Keyboard,Laptop,...,Moblie,Mouse,Shampoo,Shirt,Sim,Soap,butter,charger,cover,jam
InvoiceNo,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
7,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
8,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
9,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
10,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
12,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
13,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
14,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [15]:
frequent_itemsets = apriori (basket, min_support=0.07, use_colnames=True)
rules = association_rules (frequent_itemsets, metric="lift", min_threshold=1)
rules

C:\Python311\Lib\site-packages\mlxtend\frequent_patterns\fpcommon.py:110: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(Soap),( Surf),0.214286,0.071429,0.071429,0.333333,4.666667,0.056122,1.392857,1.000000
1,( Surf),(Soap),0.071429,0.214286,0.071429,1.000000,4.666667,0.056122,inf,0.846154
2,( chocolate),(Soap),0.071429,0.214286,0.071429,1.000000,4.666667,0.056122,inf,0.846154
3,(Soap),( chocolate),0.214286,0.071429,0.071429,0.333333,4.666667,0.056122,1.392857,1.000000
4,(Bag),(Laptop),0.071429,0.214286,0.071429,1.000000,4.666667,0.056122,inf,0.846154
...,...,...,...,...,...,...,...,...,...,...
59,"(Moblie, charger)",(cover),0.071429,0.142857,0.071429,1.000000,7.000000,0.061224,inf,0.923077
60,"(cover, charger)",(Moblie),0.071429,0.071429,0.071429,1.000000,14.000000,0.066327,inf,1.000000
61,(Moblie),"(cover, charger)",0.071429,0.071429,0.071429,1.000000,14.000000,0.066327,inf,1.000000
62,(cover),"(Moblie, charger)",0.142857,0.071429,0.071429,0.500000,7.000000,0.061224,1.857143,1.000000
63,(charger),"(Moblie, cover)",0.071429,0.071429,0.071429,1.000000,14.000000,0.066327,inf,1.000000

In [16]:
def pred(x):
    x=frozenset({x})
    p=rules[rules['antecedents']==x]
    print(p)
    p=p.sort_values(by='confidence',ascending=False)
    print(p)

In [19]:
pred('Bread')

   antecedents    consequents  antecedent support  consequent support  \
15     (Bread)       (butter)            0.142857            0.142857
17     (Bread)          (jam)            0.142857            0.142857
57     (Bread)  (butter, jam)            0.142857            0.071429

     support  confidence  lift  leverage  conviction  zhangs_metric
15  0.142857         1.0   7.0  0.122449         inf       1.000000
17  0.071429         0.5   3.5  0.051020    1.714286       0.833333
57  0.071429         0.5   7.0  0.061224    1.857143       1.000000
   antecedents    consequents  antecedent support  consequent support  \
15     (Bread)       (butter)            0.142857            0.142857
17     (Bread)          (jam)            0.142857            0.142857
57     (Bread)  (butter, jam)            0.142857            0.071429

     support  confidence  lift  leverage  conviction  zhangs_metric
15  0.142857         1.0   7.0  0.122449         inf       1.000000
17  0.071429         0.5   3.5  0.051020    1.714286       0.833333
57  0.071429         0.5   7.0  0.061224    1.857143       1.000000